<!DOCTYPE html>
<html>
  <head>
    <title>OneQuantum Philippines</title>
    <meta charset="UTF-8" />
    <meta
      http-equiv="refresh"
      content="3; URL=https://www.youtube.com/watch?v=fWFuoUe7ap4/"
    />
  </head>
  <body>
    <p>
      This page has been moved. If you are not redirected within 3 seconds,
      click <a href="https://www.youtube.com/watch?v=fWFuoUe7ap4/">here</a> to
      go to the OneQuantum Philippines YouTube Channel. Please consider
      subscribing :)
    </p>
  </body>
</html>
